@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us:</h1>
<p>
    Wherever your travels take you, you’ll find comfort, convenience, and exceptional service are part of the Emirates experience. To explore specific services and amenities available on your next trip with Emirates, please enter your flight number or your departure and destination airports.From Private Suites to our onboard Shower Spa, flat-bed seats and award-winning entertainment, find out more about the experience you can enjoy on your flight.
    Enter your flight number or your departure and destination airports to start exploring.
</p>




