@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<address>
    Rana Sarmad<br />
    Lahore, +92 307 0407723<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">RanaSarmad90@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">BSEF12A045@pucit.edu.pk</a>
</address>