@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-7 col-md-offset-3"  style="background-color:white; padding: 60px; padding-left: 100px;padding-top:10px;">
    <form action="/booking/ticket/">
        <h1 style=" text-decoration:white">
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Make Payment
        </h1>
        <br />

        <div class="pull-left">Method:&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</div><select style="border-color:lightsteelblue;box-shadow:inherit" class="col-lg-offset-1 col-lg-7"><option>Mater Card</option><option>Pay Pal</option><option>Visa Card</option></select><br /><br />


        <div class="pull-left">Name:&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</div><input type="text" style="border-color:lightsteelblue;box-shadow:inherit" class="col-lg-offset-1 col-lg-7" /><br /><br />

        &nbsp;<div class="pull-left">Card Name:&nbsp; </div> <input type="text" style="border-color:lightsteelblue;box-shadow:inherit" class="col-lg-offset-1 col-lg-7" /><br />
        <br />
        &nbsp; <div class="pull-left">
            Card No: &nbsp;&nbsp;&nbsp; &nbsp;
        </div><input type="text" style="border-color:lightsteelblue;box-shadow:inherit" class="col-lg-offset-1 col-lg-7" />
        <br> <br />

        <div class="pull-left">Zip Code:&nbsp; &nbsp; &nbsp;</div><input type="password" style="border-color:lightsteelblue;box-shadow:inherit" class="col-lg-offset-1 col-lg-7" /><br /><br />
        <input type="checkbox"> I have read and Agreed to the Terms and Conditions.<br /><br />


        <input type="submit" class="btn-default" value="Book Now" style="margin-left:160px"><br /><br />

    </form>


</div>
